<ion-header  [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-buttons>
    <ion-title>Músicas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item><ion-label>Música 1</ion-label></ion-item>
  <ion-item><ion-label>Música 2</ion-label></ion-item>
  <ion-item><ion-label>Música 3</ion-label></ion-item>
  <ion-item><ion-label>Música 4</ion-label></ion-item>
  <ion-item><ion-label>Música 5</ion-label></ion-item>
  <ion-item><ion-label>Música 6</ion-label></ion-item>
  <ion-item><ion-label>Música 7</ion-label></ion-item>
  <ion-item><ion-label>Música 8</ion-label></ion-item>
  <ion-item><ion-label>Música 9</ion-label></ion-item>
  <ion-item><ion-label>Música 10</ion-label></ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Reproduzindo: Música 1</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="solid"><ion-icon  color="danger" name="pause-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>