<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      A fazer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Criar App Ionic</ion-card-title>
      <ion-card-subtitle>Dev. Mobile</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Descrição da atividade e observações.
    </ion-card-content>

    <ion-button fill="clear">Em andamento</ion-button>
    <ion-button fill="clear">Concluído</ion-button>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Criar App Ionic</ion-card-title>
      <ion-card-subtitle>Dev. Mobile</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Descrição da atividade e observações.
    </ion-card-content>

    <ion-button fill="clear">Em andamento</ion-button>
    <ion-button fill="clear">Concluído</ion-button>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Criar App Ionic</ion-card-title>
      <ion-card-subtitle>Dev. Mobile</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Descrição da atividade e observações.
    </ion-card-content>

    <ion-button fill="clear">Em andamento</ion-button>
    <ion-button fill="clear">Concluído</ion-button>

  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Criar App Ionic</ion-card-title>
      <ion-card-subtitle>Dev. Mobile</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Descrição da atividade e observações.
    </ion-card-content>

    <ion-button fill="clear">Em andamento</ion-button>
    <ion-button fill="clear">Concluído</ion-button>

  </ion-card>

  <ion-content class="ion-padding">

    <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
      <ion-fab-button>
        <ion-icon name="chevron-down-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom">
        <ion-fab-button>
          <ion-icon name="document"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="color-palette"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="globe"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>

</ion-content>
