
<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>

      Music Player
      <ion-icon name="musical-notes-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>



  <ion-searchbar></ion-searchbar>

  <ion-item-divider color="primary">
    <ion-label> Wesley Safadão </ion-label>
  </ion-item-divider>


  <ion-item>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-button><ion-icon name="musical-note-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>01 - Tu vai rodar </ion-title>
      <ion-buttons slot="end">
        <ion-button><ion-icon  color="danger" name="pause-circle-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-item>

  <ion-item color="dark">
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-button><ion-icon name="musical-note-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>02 - Ele não te merece </ion-title>
      <ion-buttons slot="end">
        <ion-button><ion-icon color="danger" name="play-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>

  </ion-item>
  <ion-item color="dark">
    <ion-range min="0" max="100" labelPlacement="start"></ion-range>

  </ion-item>
  <ion-item>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-button><ion-icon name="musical-note-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>03 - Ta na boca do povo </ion-title>
      <ion-buttons slot="end">
        <ion-button><ion-icon  color="danger" name="pause-circle-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-item>
  <ion-item>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-button><ion-icon name="musical-note-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>04 - Nota eu </ion-title>
      <ion-buttons slot="end">
        <ion-button><ion-icon  color="danger" name="pause-circle-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-item>

  <ion-item>
    <ion-toolbar color="light">
      <ion-buttons slot="start">
        <ion-button><ion-icon name="musical-note-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>05 - Tu vai rodar </ion-title>
      <ion-buttons slot="end">
        <ion-button><ion-icon  color="danger" name="pause-circle-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-item>



  <ion-item-divider color="primary">
    <ion-label>  Xand Avião</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button><ion-icon name="musical-note-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>01 - Aham Ok</ion-title>
      <ion-buttons slot="end">
        <ion-button><ion-icon  color="danger" name="play-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>

  </ion-item>
  <ion-item>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button><ion-icon name="musical-note-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>02 - Nunca mais </ion-title>
      <ion-buttons slot="end">
        <ion-button><ion-icon  color="danger" name="play-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>

  </ion-item>
  <ion-item>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button><ion-icon name="musical-note-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>03 - Balanço da rede </ion-title>
      <ion-buttons slot="end">
        <ion-button><ion-icon  color="danger" name="play-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>

  </ion-item>
  <ion-item>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button><ion-icon name="musical-note-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>04 - Quem vale menos </ion-title>
      <ion-buttons slot="end">
        <ion-button><ion-icon  color="danger" name="play-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>

  </ion-item>


  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button><ion-icon name="play-skip-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="play-skip-forward-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>



</ion-header>