<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
      </ion-buttons>
    <ion-title>Não lidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-chip>
    <ion-label>Escola</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-label>Academia</ion-label>
  </ion-chip>
  <ion-chip>
    <ion-label>Conteúdo</ion-label>
  </ion-chip>


  <ion-item><ion-label>Ligações</ion-label> <ion-badge color="dark">5</ion-badge></ion-item>
  <ion-item><ion-label>Mensagens</ion-label> <ion-badge color="primary">5</ion-badge></ion-item>

  <ion-item><ion-label>Emails</ion-label> <ion-badge color="warning">5</ion-badge></ion-item>

  <ion-item><ion-label>Novos seguidores</ion-label> <ion-badge color="success">5</ion-badge></ion-item>
  <ion-item><ion-label>Curtidas</ion-label> <ion-badge color="danger">5</ion-badge></ion-item>



</ion-content>
